<div class="flex flex-col justify-center items-center h-screen">
  <form class="form bg-cafe-claro" method="POST" id="miFormulario">
    <h1 class="text-2xl text-white p-5 uppercase font-bold">
      Confirmar Asistencia
    </h1>
    <div class="field">
      <input
        placeholder="Nombres y Apellidos"
        name="nombres"
        class="input-field"
        type="text"
      />
    </div>
    <div class="field" style="display: none;">
      <input
        placeholder="Apellidos"
        name="apellidos"
        class="input-field"
        type="text"
      />
    </div>

    <!--     <select class="field" id="opasistencia" name="asistencia">
      <option value="" disabled selected>Confirmación</option>
      <option value="Sí, asistiré">Sí, asistiré</option>
      <option value="No podré asistir">No podré asistir</option>
    </select> -->

    <div class="flex flex-col space-y-2">
      <label class="font-bold text-white">Confirmación:</label>

      <label class="flex items-center space-x-2 text-gray-500">
        <input
          type="radio"
          name="asistencia"
          value="Sí, asistiré"
          class="w-4 h-4"
        />
        <span>Sí, asistiré</span>
      </label>

      <label class="flex items-center space-x-2 text-gray-500">
        <input
          type="radio"
          name="asistencia"
          value="No podré asistir"
          class="w-4 h-4"
        />
        <span>No podré asistir</span>
      </label>
    </div>

    <div class="field">
      <input
        placeholder="¿Tienes alergia algún alimento?"
        name="alergia"
        class="input-field"
        type="text"
      />
    </div>

    <!--     <select class="field" id="opalergia" name="alergia">
      <option value="" disabled selected>Alergia</option>
      <option value="Sí">Si</option>
      <option value="No">No</option>
    </select>
 -->
    <button class="btn bg-cafe-oscuro font-bold" type="submit"
      >Enviar Respuesta</button
    >
  </form>
</div>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.4em;
    border-radius: 25px;
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    background-color: white;
  }

  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
  }

  .btn {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    color: white;
  }
</style>

<script>
  import Swal from "sweetalert2";

  const formulario = document.getElementById("miFormulario") as HTMLFormElement;

  formulario.addEventListener("submit", async function (e) {
    e.preventDefault();

    const seleccion = document.querySelector(
      'input[name="asistencia"]:checked'
    );

    const formData = new FormData(formulario);
    const data = Object.fromEntries(formData.entries());

    data.apellidos = "Vacio";
    console.log(data);
    if (!seleccion) {
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Asegurate de revisar tu confirmación",
      });
      e.preventDefault();
    } else {
      e.preventDefault();
      fetch("https://soydev2019.up.railway.app/guardar", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data),
      })
        .then(() =>
          Swal.fire("Genial!", "Muchas gracias por tu respuesta", "success")
        )
        .then(() => {
          window.location.reload();
        })
        .catch((err) => console.error("Error", err.message));
    }
  });
</script>
